@tailwind base;
@tailwind components;
@tailwind utilities;

/* =========================== */
/*      GENERAL SELECTORS      */
/* =========================== */

body {
  background-color: slategray;
  margin: 0;
}

a:visited,
a:link {
  color: #fff;
  text-decoration: none;
}

.logo {
  height: 90px;
  margin: 10px;
}

/* =============================== */
/*      NAV BAR LANDING PAGE       */
/* =============================== */

.navbar-container-landing-page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.nav-right-container-landing-page {
  margin: 0 15px 0 auto;
  padding: 20px 0;
  color: #fff;
}

/* ========================= */
/*      NAV BAR GENERAL      */
/* ========================= */

.navbar-container {
  width: 100%;
  padding: 20px 0;
  background-color: transparent;
}

.nav-right-container {
  margin: 0 30px 0 auto;
}

/* ============================ */
/*      NAV BAR COMBINATORS     */
/* ============================ */

.navbar-container,
.navbar-container-landing-page {
  font-size: 1.75rem;
  display: flex;
  align-items: center;
}

.nav-right-container > a,
.nav-right-container-landing-page > a {
  margin: 0 15px;
  padding: 15px;
}
.nav-right-container > a:hover,
.nav-right-container-landing-page > a:hover {
  background-color: #a9ba9d;
  transition: background-color 0.9s;
}

/* ========================= */
/*      HOME SECTION ONE     */
/* ========================= */

/* ========================= */
/*      HOME SECTION TWO     */
/* ========================= */

.home-section-two {
  display: flex;
  flex-direction: row;
  text-align: center;
  padding: 16rem;
  background-color: #f8f8f8aa;
  margin-top: -5px;
}

.individual-box,
.organization-box,
.individual-box-image-container,
.organization-box-image-container {
  width: 40%;
  padding: 110px 135px;
  margin: 0 20px 0 0;
  background-color: whitesmoke;
}

.individual-box-image-container,
.organization-box-image-container {
  padding-bottom: 55%;
  position: relative;
}

.individual-box-image,
.organization-box-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.individual-box {
  padding: 115px 135px;
}

.organization-box-image-container {
  padding: 105px 135px;
  height: 21%;
}

/* =========================== */
/*      HOME SECTION THREE     */
/* =========================== */

.home-section-three {
  display: flex;
  background-color: #fff;
  padding: 300px;
}

/* =========================== */
/*      HOME SECTION FOUR      */
/* =========================== */

.home-section-four {
  background-color: salmon;
  display: flex;
}

.section-four-gif {
  background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExNzlkZjQ0OTkxYWM2YzFlNDM0MjRiZjI0MDQ1NTk2NTY3MzhjNTgyZCZlcD12MV9pbnRlcm5hbF9naWZzX2dpZklkJmN0PWc/AauZyD5f2pnamJ3Zj0/giphy.gif");
  background-repeat: no-repeat;
  width: 750px;
  height: 650px;
  margin: 0;
  background-size: contain;
}

/* ======================= */
/*         FOOTER          */
/* ======================= */

.section-footer {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #c99e33;
}

/* ========================== */
/*      LOGIN/SIGNUP PAGE     */
/* ========================== */

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  padding: 20px;
}

label {
  margin: 5px 0;
}

input {
  padding: 5px;
  margin: 5px 0;
}

button {
  margin-top: 10px;
}

/* ========================== */
/*      SINGLEPOST PAGE       */
/* ========================== */

.single-post-container {
  display: flex;
}

.map-container {
  height: 100vh;
  width: 50%;
}

.cards-containers {
  background-color: #fff;
  width: 20%;
  height: 100px;
  margin: 20px;
  border-radius: 10px;
  padding: 20px;
}
