/* =========================== */
/*      GENERAL SELECTORS      */
/* =========================== */

body {
  background-color: slategray;
  margin: 0;
}

a:visited,
a:link {
  color: #fff;
  text-decoration: none;
  text-shadow: 1px 1px 8px black;
}

/* =================== */
/*        LOGO         */
/* =================== */

.logo {
  height: 75px;
  margin: 10px;
  cursor: pointer;
}

.logo:hover {
  border-left: 1px solid #fff;
  border-bottom: 1px dotted #fff;
}

/* =============================== */
/*      NAV BAR LANDING PAGE       */
/* =============================== */

.navbar-container-landing-page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

.nav-right-container-landing-page {
  margin: 0 15px 0 auto;
}

.nav-right-container-landing-page > a:visited,
.nav-right-container-landing-page > a:link {
  color: #fff;
  text-shadow: 1px 1px 10px black;
}

/* ========================= */
/*      NAV BAR GENERAL      */
/* ========================= */

.navbar-container {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.nav-right-container {
  margin: 0 30px 0 auto;
}

/* ============================ */
/*      NAV BAR COMBINATORS     */
/* ============================ */

.navbar-container,
.navbar-container-landing-page {
  font-size: 1.75rem;
  display: flex;
  align-items: center;
}

.nav-right-container > a,
.nav-right-container-landing-page > a {
  margin: 0 15px;
  padding: 15px;
}
.nav-right-container > a:hover,
.nav-right-container-landing-page > a:hover {
  border: 1px solid #fff;
  padding: 7px 15px;
}

/* ========================= */
/*      HOME SECTION ONE     */
/* ========================= */

.home-section-one {
  position: relative;
}

.section-one-text-container {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.section-one-header-text {
  color: #fff;
  font-size: 2rem;
  letter-spacing: 1px;
  text-shadow: 1px 1px 10px black;
}

.section-one-text {
  color: #fff;
  font-size: 1.5rem;
  text-shadow: 1px 1px 10px black;
}

.section-one-btn-about-food-waste,
.section-one-btn-about-us {
  cursor: pointer;
  color: #fff;
  padding: 25px 40px;
  background-color: transparent;
  border: solid 1px #fff;
  font-size: 1.25rem;
  margin: 10px 20px 0 0;
  border-radius: 5px;
  text-shadow: 1px 1px 10px black;
}

.section-one-btn-about-food-waste:hover,
.section-one-btn-about-us:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 960px) {
  .section-one-text-container {
    width: 60%;
    left: 31%;
    top: 14%;
    transform: translateX(-50%);
  }

  .section-one-header-text {
    font-size: 1.2rem;
  }

  .section-one-text {
    font-size: 1rem;
    padding: 0;
  }

  .section-one-btn-about-food-waste,
  .section-one-btn-about-us {
    font-size: 0.9rem;
    padding: 5px;
  }
}

@media (min-width: 961px) {
  .section-one-text-container {
    top: 46%;
  }
}

/* ========================= */
/*      HOME SECTION TWO     */
/* ========================= */

.home-section-two {
  display: flex;
  flex-direction: row;
  text-align: center;
  padding: 5rem;
  background-color: #f8f8f8aa;
  margin-top: -5px;
  background: rgb(183, 217, 185);
  background: linear-gradient(
    0deg,
    rgb(214, 214, 214) 24%,
    rgba(255, 83, 83, 1) 100%
  );
}

.individual-box,
.organization-box,
.donor-box,
.individual-box-image-container,
.organization-box-image-container,
.donor-box-image-container {
  width: 40%;
  padding: 110px 135px;
  background-color: whitesmoke;
  box-shadow: 1px 1px 7px black;
}

.individual-box-image-container,
.organization-box-image-container,
.donor-box-image-container {
  padding-bottom: 55%;
  position: relative;
}

.individual-box-image,
.organization-box-image,
.donor-box-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.organization-box {
  width: 38%;
  height: 37%;
  margin-left: 30px;
}

.organization-box-image-container {
  padding-bottom: 46%;
  width: 38%;
  margin-left: 30px;
}

.section-two-inside-box-header {
  font-size: 1.8rem;
}

.section-two-inside-box-text {
  font-size: 1.4rem;
}

.section-two-inside-box-btn {
  padding: 13px 20px;
  font-size: 1.1rem;
  border-radius: 3px;
  cursor: pointer;
}

.section-two-inside-box-btn:hover {
  border: rgba(255, 83, 83, 1) solid 1px;
  font-size: 1.35rem;
  animation: shake 1s;
  animation-iteration-count: infinite;
}
/* =========================== */
/*      HOME SECTION THREE     */
/* =========================== */

.home-section-three {
  display: flex;
  background-color: #fff;
  padding: 300px;
}

/* =========================== */
/*      HOME SECTION FOUR      */
/* =========================== */

.home-section-four {
  background-color: salmon;
  display: flex;
}

.section-four-gif {
  background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExNzlkZjQ0OTkxYWM2YzFlNDM0MjRiZjI0MDQ1NTk2NTY3MzhjNTgyZCZlcD12MV9pbnRlcm5hbF9naWZzX2dpZklkJmN0PWc/AauZyD5f2pnamJ3Zj0/giphy.gif");
  background-repeat: no-repeat;
  width: 750px;
  height: 650px;
  margin: 0;
  background-size: contain;
}

/* ======================= */
/*         FOOTER          */
/* ======================= */

.section-footer {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: darkgoldenrod;
  position: relative;
  bottom: 0;
  width: 100%;
}

/* ========================== */
/*      LOGIN/SIGNUP PAGE     */
/* ========================== */

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  padding: 20px;
}

label {
  margin: 5px 0;
}

input {
  padding: 5px;
  margin: 5px 0;
}

button {
  margin-top: 10px;
}

/* ========================== */
/*      SINGLEPOST PAGE       */
/* ========================== */

.single-post-container {
  display: flex;
}

.map-container {
  height: 100vh;
  width: 50%;
}

.cards-containers {
  background-color: #fff;
  width: 20%;
  height: 100px;
  margin: 20px;
  border-radius: 10px;
  padding: 20px;
}

/* ========================== */
/*         FEED PAGE          */
/* ========================== */

.ad-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.ads {
  width: 200px;
  padding: 10px;
  margin: 20px;
  border: 1px solid black;
}

/* ========================== */
/*         ANIMATION          */
/* ========================== */

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
